@using System.Globalization
@model BlogCore_ASPNetMVC_Net8.Models.Article

@{
    ViewData["Title"] = "Article Details";
    // Define expected date formats
    string[] formatos = { "dd/MM/yyyy hh:mm:ss tt", "dd/MM/yyyy HH:mm:ss", "yyyy-MM-dd HH:mm:ss", "MM/dd/yyyy hh:mm:ss tt" };
    CultureInfo cultura = new CultureInfo("es-MX");

    DateTime createdDate;
    string formattedDate = "Invalid date";
    if (DateTime.TryParseExact(Model.CreatedDate, formatos, cultura, DateTimeStyles.None, out createdDate))
    {
        // Si la fecha se analiza correctamente, formatea la fecha
        formattedDate = createdDate.ToString("dd/MM/yyyy");
    }
    else
    {
        // Si la fecha no es válida, puedes manejar el error aquí
        // Por ejemplo, registrar el error o mostrar un mensaje al usuario
        <text>
            <script>
                console.error("Invalid date: @Model.CreatedDate");
            </script>
        </text>
    }
}
<br/>
<div class="container">
    <div class="card">
        <div class="card-header bg-light text-light">
            <div class="col-12">
                <h1 class="text-primary text-center">@Model.Name</h1>
            </div>
            <div class="col-12">
                <p class="text-muted">CreatedDate: @formattedDate</p>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12">
                <img src="@Model.URLImage" class="img-thumbnail mx-auto d-block" />
                <p class="text-secondary">@Html.Raw(Model.Description)</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-success btn-sm">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>