@model BlogCore_ASPNetMVC_Net8.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-dark bg-secondary py-1">Latest courses and tutorials</h1>
    </div>
</div>

@if(Model.Articles.Count() > 0) {
    <hr />
    <div class="row">
        @foreach (var article in Model.Articles.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card mb-3">
                    <img src="@article.URLImage" class="card-img-top" width="100%" alt="@article.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@article.Name</h5>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:10px;" asp-route-id="@article.Id">Read more</a>
                    </div>
                </div>
            </div>
        }
    </div>
} else {
    <div class="row mt-1">
        <div class="col-sm-12">
            <h2 class="text-center text-white bg-secondary py-1">No articles found</h2>
        </div>
    </div>
}

<br />
<div class="text-center">
    <!--Container to align it center-->
    <nav aria-label="Navigatíon page">
        <!--Navigation with area tag for accesibility-->
        <ul class="pagination">
            <!--button "Prev"-->
            <li class="page-item @(Model.PageIndex > 1 ? "" : "disabled")">
                <!--element of the list with 'page-item' and 'disabled' classes if no previous pages-->
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--loop to create the number of pages-->
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <!--element of the list with 'page-item' and 'active' classes if it is the current page-->
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <!--button "Next"-->
            <li class="page-item @(Model.PageIndex < Model.TotalPages ? "" : "disabled")">
                <!--element of the list with 'page-item' and 'disabled' classes if no next pages-->
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>